*{
    font-family: sans-serif;
}

body{ 
    min-height: 100vh;
    background-color: #00f5;

    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    width: 45vw;
    background-color: #fff;
    border-radius: 1rem;
    list-style: none;
    overflow: hidden;

    transition: .3s ease;
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: move;

    transition: .3s ease;
}
li:nth-child(even){
    background-color: #eee;
}
li:hover{
    background-color: #00f7;
    transform: scale(1.03);
    /* margin-bottom: .8rem; */
}
li:active{
    background-color: #0f03;
    transform: scale(1.03);
    margin-bottom: .8rem;
}

.user{
    display: flex;
    align-items: center;

    padding: 1rem;
}

.user img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.info{
    margin-left: 1rem;
}
.info h2{
    font-size: 1.2rem;
}

.icon{
    padding: 1rem;
    transform: rotate(180deg);
}